<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="layout">
        <div id="header">
            <h1 class="logo">Prestige Heating & Air</h1>
        </div>

        <div id="navbar">
            @Html.ActionLink("Home","Home","Main", null, null)
            @Html.ActionLink("Services", "Services", "Main", null, null)
            @Html.ActionLink("Gallery", "Gallery", "Main", null, null)
            @Html.ActionLink("Contact", "Contact", "Main", null, null)
        </div>
    </div>


    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Layout/navbar.js")
    @RenderSection("scripts", required: false)
</body>
</html>
